/* =================
===== LOG VIEW =====
================= */

#log-view {
  cursor: default;
  background: #fff;
  box-sizing: border-box;
}

#log-view-filter {
  display: grid;
  position: fixed;
  z-index: 50;
  box-sizing: border-box;
  background: #fff;
  overflow-x: hidden;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0.5em;
}

@media (max-width: 599.98px) {
  #log-view-filter {
    padding-top: 0.2rem;
    width: calc(100vw - 1rem);
    grid-template-areas:
      'search'
      'button'
      'subButton'
      'message';
  }
}

@media (min-width: 600px) {
  #log-view-filter {
    grid-template-areas:
      'button search'
      'subButton subButton'
      'message message';
    width: calc(100vw - 2rem);
  }

  #log-view-filter__search-sub-buttons {
    display: none;
  }
}

#log-view-filter__button-group {
  grid-area: button;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  #log-view-filter__button-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #log-view-filter__search-lg {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #log-view__search-button {
    display: none;
  }
}

@media (max-width: 599.98px) {
  #log-view-filter__button-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #log-view-filter__search-lg {
    display: none;
  }

  #log-view__search-button {
    display: inline-block;
  }
}

#log-view-filter__sub-button-group {
  grid-area: subButton;
  display: block;
  overflow: hidden;
}

.fixed-container {
  align-items: flex-start;
  height: 2.4rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sub-button-group {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.sub-button-group.active-group {
  display: flex;
}

.sub-button-group.active-group .previous-row-button,
.sub-button-group.active-group .next-row-button {
  display: none;
}

.sub-button-group__button-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: margin 300ms linear;
  box-sizing: border-box;
  max-width: calc(100% - 70px);
  padding: 0;
}

.sub-button {
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0.3rem 0.3rem;
  margin: 0.4rem 0.2rem;
  border: solid 1px;
  border-radius: 0.8em;
  transition: all 200ms linear;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}

#custom-date-search {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

#log-view-filter__date-sub-buttons {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.log-view__button {
  font-size: 1rem;
  margin: 0 0.1em;
  border-radius: 0.2em;
  transition: all 150ms linear;
  line-height: 1.2;
}

@media (min-width: 600px) {
  .log-view__button {
    padding: 0.3em;
  }
}

@media (max-width: 599.98px) {
  .log-view__button {
    padding: 0.3em 0;
    font-size: 1.2rem;
  }
}

#log-view-filter__date-keyword-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#log-view__date-button,
#log-view-filter__date-sub-buttons .sub-button {
  color: var(--color-0);
  border: solid 1px var(--color-0);
}

#log-view__date-button:hover,
#log-view-filter__date-sub-buttons .sub-button:hover,
#log-view__date-button.active-button,
#log-view-filter__date-sub-buttons .sub-button.active-button {
  background: var(--color-0);
  color: #eee;
}

#log-view__subject-button,
#log-view-filter__subject-sub-buttons .sub-button {
  color: var(--color-1);
  border: solid 1px var(--color-1);
}

#log-view__subject-button:hover,
#log-view-filter__subject-sub-buttons .sub-button:hover,
#log-view__subject-button.active-button,
#log-view-filter__subject-sub-buttons .sub-button.active-button {
  background: var(--color-1);
  color: #eee;
}

#log-view__source-button,
#log-view-filter__source-sub-buttons .sub-button {
  color: var(--color-3);
  border: solid 1px var(--color-3);
}

#log-view__source-button:hover,
#log-view-filter__source-sub-buttons .sub-button:hover,
#log-view__source-button.active-button,
#log-view-filter__source-sub-buttons .sub-button.active-button {
  background: var(--color-3);
  color: #eee;
}

#log-view__search-button,
#log-view-filter__search-sub-buttons .sub-button {
  color: var(--color-2);
  border: solid 1px var(--color-2);
}

#log-view__search-button:hover,
#log-view-filter__search-sub-buttons .sub-button:hover,
#log-view__search-button.active-button {
  background: var(--color-2);
  color: #eee;
}

#log-view-filter__search-sub-buttons {
  padding-top: 0.4rem;
}

#log-view-filter__search-sub-buttons > .sub-button {
  margin-top: 0;
  margin-bottom: 0;
}

.log-view-filter__search-input {
  font-size: 1rem;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
  color: var(--color-2);
  border: solid 1px #888;
  margin-right: 0.5em;
  flex-shrink: 1;
  flex-grow: 1;
  cursor: text;
}

@media (min-width: 600px) {
  .log-view-filter__search-input {
    max-width: 18em;
  }
}

#log-view__search-submit-button {
  font-size: 1rem;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
  background-color: var(--color-2);
  color: #eee;
  flex-grow: 0;
}

#log-view-display {
  margin: 0 auto 2em auto;
}

@media (min-width: 900px) {
  #log-view-display {
    width: 85%;
  }
}

@media (min-width: 600px) and (max-width: 899.98px) {
  #log-view-display {
    width: 92.5%;
  }
}

@media (max-width: 599.98px) {
  #log-view-display {
    width: 100%;
  }
}

.date-block-heading {
  color: var(--color-0);
  margin: 0.5em 0;
  font-size: 1.4rem;
}

.log-entry {
  margin: 0em 1em;
  padding: 0.5em;
  border-left: solid 2px white; 
  transition: padding 150ms ease-out, margin 150ms ease-out, transform 150ms ease-out,
    background 150ms linear, border 150ms linear;
}

.log-entry.log-entry__selected {
  border-left-color: var(--color-2);
  padding: 1.5em 0.5em;
  margin: 1em 1em;
  transform: scale(1.05);
  box-shadow: 1px 0px 3px 1px #ccc;
  transition: padding 150ms ease-out, margin 150ms ease-out, transform 150ms ease-out,
    background 150ms linear, border 150ms linear, box-shadow 150ms linear;
}

.log-entry.log-entry__selected:hover {
  background: none;
}

.log-entry__other {
  display: none;
  margin-left: 1em;
}

.log-entry__source,
.log-entry__subject {
  display: none;
  overflow-wrap: break-word;
  font-size: 1rem;
  margin: 0 0.2em;
  padding: 0em 0.3em;
  max-width: 70vw;
  box-sizing: border-box;
}

.log-entry.log-entry__selected > .log-entry__other {
  display: block;
}

.log-entry.log-entry__selected .log-entry__subject,
.log-entry.log-entry__selected .log-entry__source {
  display: inline-block;
}

.log-entry:hover {
  background: #eee;
  border-left-color: var(--color-2);
}

.log-entry__title {
  color: var(--color-2);
  font-size: 1.2rem;
  margin-bottom: 0.3em;
}

.log-entry__source {
  color: var(--color-3);
  border: solid 1px var(--color-3);
  transition: all 150ms linear;
}

.log-entry__source:hover {
  color: #eee;
  background: var(--color-3);
  box-shadow: 0px 0px 0.1em 0.1em var(--color-3);
}

.log-entry__subject {
  color: var(--color-1);
  border: solid 1px var(--color-1);
  transition: all 150ms linear;
}

.log-entry__subject:hover {
  color: #eee;
  background: var(--color-1);
  box-shadow: 0px 0px 0.1em 0.1em var(--color-1);
}

.flex-spacer {
  flex: 1 1 auto;
}

.log-entry__title-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* border: solid 1px red; */
}

.log-entry__metadata {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 0.3em;
}

@media (max-width: 599.98px) {
  .log-entry__metadata {
    margin-top: 0.5em;
  }
}

#log-view-filter__message {
  margin: 0.5em 0.2em;
  font-size: 1rem;
  grid-area: message;
  display: none;
  width: 90vw;
  text-align: center;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

#log-view-filter__message-text.subject {
  color: var(--color-1);
}

#log-view-filter__message-text.source {
  color: var(--color-3);
}

#log-view-filter__message-text.search {
  color: var(--color-2);
}

#log-view-filter__message-text.date-range,
#log-view-filter__message-text.date-keyword {
  color: var(--color-0);
}

#log-view-filter__message-button {
  margin: 0 0.5rem;
  display: inline;
  color: var(--color-0);
  font-size: 0.8rem;
  border-radius: 1em;
  transition: all 150ms linear;
}

#log-view-filter__message-button:hover {
  color: var(--color-0-dark);
  transform: scale(1.1);
}

#custom-date-filter-button {
  color: var(--color-0);
  background: white;
  border-color: var(--color-0);
}

#custom-date-filter-button.highlight {
  color: #eee;
  background: var(--color-0);
}

.sub-button-nav {
  font-size: 1rem;
  padding: 0.1em;
  margin: 0.2em;
  transition: all 100ms linear;
}

.sub-button-nav:hover {
  transform: scale(1.15);
}

.sub-button-nav-button-container {
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 60px;
}

.date-filter-input {
  border-radius: 0.3em;
  padding: 0.1em;
  margin: 0 0.3em;
  border: solid 1px gray;
  color: gray;
  max-width: 9em;
  flex-grow: 1;
  font-size: 0.8rem;
}

span.future-date {
  position: relative;
}

span.future-date::before {
  content: 'Date must not be in the future!';
  position: absolute;
  display: block;
  font-size: 0.8em;
  color: #a55;
  top: -1em;
  background: #fff;
  z-index: 3;
}

.tooltip {
  position: absolute;
  z-index: 1000;
  background: #fcfcfc;
  box-shadow: 1px 1px 1px 2px #bbb;
  font-size: 0.75rem;
  color: #a11;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  transition: opacity 300ms linear;
}

.tooltip-hidden {
  opacity: 0;
}

#log-view-filter__subject-sub-buttons polyline {
  stroke: var(--color-1);
}

#log-view-filter__subject-sub-buttons .sub-button-row__empty-message {
  color: var(--color-1);
}

#log-view-filter__source-sub-buttons polyline {
  stroke: var(--color-3);
}

#log-view-filter__source-sub-buttons .sub-button-row__empty-message {
  color: var(--color-3);
}

.sub-button-row__empty-message {
  display: inline-block;
  margin-top: .5em;
}

.log-view-more__container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.log-view-more__container--hidden {
  display: none;
}

.log-view-more__button {
  font-size: 1.4rem;
  padding: 0.1em 0.5em;
  border-radius: 1em;
  margin: 0 0.25em;

  color: white;
  background-color: var(--color-1);
  transition: all 150ms linear;
}

.log-view-more__button:hover {
  box-shadow: 0 0 0.3em 0.1em var(--color-1);
}

.date-keyword-button {
  font-size: 0.85rem;
}

.log-view__welcome {
  text-align: center;
  color: var(--color-1);
  font-size: 1.5rem;
  margin: 10vh 15vw;
}

@media (max-width: 599px) {
  .log-view__welcome {
    margin: 5vh 5vw;
  }
}