/* ======================
===== NAV CONTAINER =====
====================== */
#nav-container {
  margin: 0;
  position: fixed;
  background: #fff;
  z-index: 50;
  width: 100vw;
  box-sizing: border-box;
}

@media (min-width: 900px) {
  #nav-container {
    padding: 1rem 2rem;
  }
}

@media (min-width: 600px) and (max-width: 899.98px) {
  #nav-container {
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 599.98px) {
  #nav-container {
    padding: 0.1rem 0.5rem;
  }
}

#title {
  flex-shrink: 1;
  font-size: 2.2rem;
  letter-spacing: -0.03rem;
}

@media (max-width: 599.98px) {
  #title {
    margin-bottom: 0.2rem;
  }
}

/* ===========================================
===== NAV (CONTAINS TITLE & BUTTON GROUP =====
=========================================== */
#nav {
  display: flex;
  align-items: center;
  width: auto;
}

@media (min-width: 600px) {
  #nav {
    justify-content: space-between;
  }
}

@media (max-width: 599.98px) {
  #nav {
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* =========================
===== NAV BUTTON GROUP =====
========================= */
.nav__button-group {
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: flex-end;
  text-align: right;
}

@media (max-width: 599.98px) {
  .nav__button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em 0;
    /* height: 4rem; */
  }
}

/* ====================
===== NAV BUTTONS =====
==================== */
@media (max-width: 599.98px) {
  .nav__button-group {
    height: 3rem;
  }

  .nav__button {
    font-size: 1.3rem;
    padding: 0.3rem 0.1rem;
    margin: 0 0.1rem;
  }
}

@media (min-width: 600px) {
  .nav__button {
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0 0.1rem;
  }
}

.nav__button {
  flex: 1 1 auto;
  color: #eee;
  transition: all 150ms linear;
  border-width: 0px;
  border-style: solid;
  overflow: hidden;
}

.nav__button:hover {
  border-width: 0.3rem 0;
}

.nav__button:nth-of-type(1) {
  background: var(--color-1);
  border-color: var(--color-1);
}

.nav__button:nth-of-type(1):hover {
  background: var(--color-1-dark);
  border-color: var(--color-1-dark);
}

.nav__button:nth-of-type(1).nav__button-active {
  border-color: var(--color-1-dark);
}

.nav__button:nth-of-type(2) {
  background: var(--color-2);
  border-color: var(--color-2);
}

.nav__button:nth-of-type(2):hover {
  background: var(--color-2-dark);
  border-color: var(--color-2-dark);
}

.nav__button:nth-of-type(2).nav__button-active {
  border-color: var(--color-2-dark);
}

.nav__button:nth-of-type(3) {
  background: var(--color-3);
  border-color: var(--color-3);
}

.nav__button:nth-of-type(3):hover {
  background: var(--color-3-dark);
  border-color: var(--color-3-dark);
}

.nav__button:nth-of-type(3).nav__button-active {
  border-color: var(--color-3-dark);
}

.nav__button-active {
  border-width: 0.3rem 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fading-out {
  animation-name: fadeOut;
  animation-duration: 300ms;
  animation-iteration-count: 1;
}

.fading-in {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-iteration-count: 1;
}
