/* ====================
===== DEV BORDERS =====
==================== */


/*
#main-container {  border: solid 1px hsl(90, 50%, 50%); }
#nav-container  {  border: solid 1px hsl(30, 50%, 50%); }
#nav            {  border: solid 1px hsl(60, 50%, 50%); }

.char-monitor   {  border: solid 1px hsl(180, 50%, 50%);}
#entry-form     {  border: solid 1px hsl(0, 50%, 50%); }
.entry-form__row{  border: solid 1px hsl(100, 50%, 50%); }
.entry-form__row-heading { border: solid 1px hsl(200, 50%, 50%); }
.entry-form__row-content { border: solid 1px hsl(300, 50%, 50%); }
#entry-form     {  border: solid 1px hsl(0, 50%, 50%); }
.entry-form__row{  border: solid 1px hsl(100, 50%, 50%); }

*/



/* ============================
===== PERSONAL CSS RESETS =====
============================ */

body { 
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

button, input, textarea {
  font-family: unset;
  cursor: unset;
  width: unset;
}

button {
  border: none;
  background: none;
}


/* =========================
===== CSS CUSTOM PROPS =====
========================= */
:root {
  --base-font: 'Segoe UI Light', 'helvetica neue', sans-serif;
  --base-color: #68a;
  
  --color-0-light: #999;
  --color-0: #666;
  --color-0-dark: #333;
  --color-1: hsl(200, 50%, 50%);
  --color-1-dark: hsl(200, 75%, 25%);
  --color-2: hsl(40, 50%, 50%);
  --color-2-dark: hsl(40, 75%, 25%);
  --color-3: hsl(120, 50%, 50%);
  --color-3-dark: hsl(120, 75%, 25%);
  
}




/* ==========================
===== MAJOR AREA STYLES =====
========================== */
body {
  font-family: var(--base-font);
}

#main-container {
  animation-fill-mode: forwards;
}

@media (min-width: 900px) {
  html {
    font-size: 150%;
  }
}

@media (min-width: 600px) and (max-width: 899.98px) {
  html {
    font-size: 120%;
  }
}

@media (max-width: 599.98px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 599.98px) {
  #main-container {
    padding: 0 .6rem 0 .4rem;
  }
}

@media (min-width: 600px) {
  #main-container {
    padding: 0em 1rem;
  }
}

#main-container {
  width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
  background: #fff;
  overflow-x: hidden;
}

/* ENTRY-FORM__ROW-CONTENT */
.unlocked-input {
  width: 100%;
}

.short-input, .long-input, textarea {
  box-sizing: border-box;
}

#entry-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch; /* check this */
  height: auto;
  margin: 1rem auto 0 auto;
  position: relative;
  cursor: default;
}

#entry-form button {
  cursor: pointer;
}

.entry-form__row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  /* border: solid 1px black; */
}



@media (max-width: 599.98px) {
  .entry-form__row {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 3rem;
  }
  
  .entry-form__row-content {
    margin-left: 0;
  }
  
  .entry-form__row-heading {
    text-align: left;
    margin-left: .2em;
    margin-bottom: .3em;
  }

  .entry-form__button-row {
    margin-bottom: 3rem;
  }
  
  .cloud {
    margin-top: .3em;
  }
  
  .char-monitor {
    float: right;
  }
}

@media (min-width: 600px) {
  .entry-form__row {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  
  .entry-form__row-content {
    margin-left: 1.5em;
  }
  
  .entry-form__row-heading {
    min-width: 35%;
    max-width: 35%;
    text-align: right;
  }
  
  .entry-form__button-row {
    margin-bottom: 2rem;
  }  
}

@media (max-width: 599.98px) {
  #entry-form {
    width: 100%;
  }
  
  .short-input, .long-input, textarea {
    width: 95%; 
  }
}

@media (min-width: 600px) and (max-width: 899.98px) {
  #entry-form {
    width: 95%;
  }

  .short-input {
    width: 60%; 
  }

  .long-input, textarea {
    max-width: 80%; 
    width: 80%;
  }
  
}
  

@media (min-width: 900px) {
  #entry-form {
    width: 85%;
  }
  
  .short-input {
    width: 60%;
  }

  .long-input, textarea {
    max-width: 80%;
    width: 80%;
    box-sizing: border-box;
  }

}

#entry-form input, #entry-form textarea, #entry-form button {
  /* font-family: var(--base-font); */
}

/* SUB-ITEMS */
/* HOME VIEW */

.entry-form__button-row > button {
  font-size: 1.4rem;
}

.entry-form__row-content {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 1rem;
  /* border: solid 1px green; */
}

input {
  box-sizing: border-box;
}


.unlocked-input-value.error {
  border: solid 1px red;
}

.entry-form__row-heading {
  color: var(--color-1-dark);
  flex-grow: 0;
  font-size: 1.2rem;
}

@media (max-width: 599.98px) {
  .entry-form__row {
    padding: .2em .4em;
  }
}

/* This is not a well-written rule */ 

#entry-form input, #entry-form textarea, .entry-form__row button {
  font-size: inherit;
}




#entry-form > div {
  /* border: solid 1px purple; /* dev only */
}

/*
#date-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
*/

.locked-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.locked-input-value {
  display: inline-block;
  background-color: var(--color-2);
  color: #eee;
  border-radius: .5em;
  padding: .2em .5em;
  margin: 0 1em 0 0;
}

.locked-input-button {
  color: var(--color-3);
  border: solid 1px var(--color-3);
  border-radius: 1em;
  background-color: white;
  padding: .2em .5em;
  transition: all 100ms linear;
}

.locked-input-button:hover {
  color: white;
  background-color: var(--color-3);
  box-shadow: 0 0 .2em .1em var(--color-3);
}

.hidden {
  display: none;
}

.pre-enter {
  display: block;
  opacity: 0;
}

.exit {
  opacity: 0;
}

.cloud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: solid 1px red; */
}

.cloud > span {
  display: inline-block;
  padding: .2em .3em;
  color: var(--color-2);
  background-color: white;
  border-radius: 1em;
  border: solid 1px var(--color-2);
  margin: .4em;
  cursor: pointer;
  transition: all 100ms linear;
}

.cloud > span:hover {
  color: white;
  background-color: var(--color-2);
  box-shadow: 0 0 .2em .1em var(--color-2);  
}


.entry-form__button-row {
  width: 100%;
  text-align: right;
  margin-top: 1em;
}

.entry-form__button-row > button {
  padding: .1em .5em;
  border-radius: 1em;
  margin: 0 .25em;
}


#reset-button {
  color: var(--color-1);
  border: solid 1px var(--color-1);
  background-color: white;
  transition: all 150ms linear;
  /* box-sizing: border-box; */
}

#submit-button {
  color: white;
  background-color: var(--color-1);
  transition: all 150ms linear;
}

#submit-button:hover {
  box-shadow: 0 0 .3em .1em var(--color-1);
}

#reset-button:hover {
  box-shadow: 0 0 .3em .1em var(--color-1);
  border-color: white;
}


.unlocked-input > input, .unlocked-input > textarea {
  border-radius: .5em;
  padding: .2em;
  border: solid 1px gray;
  color: gray;
  flex-grow: 1;
  
}

#log-list {
  list-style: none;
}

.char-monitor {
  display: inline-block;
  flex-grow: 0;
  font-size: .8rem;
}

@media (max-width: 599.98px) {
  .char-monitor {
    display: none;
  }
}

.input-chars, .max-chars {
  display: inline-block;
  min-width: 1rem;
}

.input-chars {
  text-align: right;
}

.max-chars {
  text-align: left;
}

.overlay {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;

  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.overlay > .mask {
  width: 100%;
  height: 100%;
  background-color: rgb(160,160,160);
  opacity: .5;
}

#overlay-content {
  z-index: 150;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}


@media (min-width: 600px) {
  .new-entry-feedback {
    width: 60%;
  }
  
  .new-entry-feedback__button-row {
    align-self: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;    
  }
  
  .new-entry-feedback__button {
    margin: 0 .5em;
  }
}

@media (max-width: 599.98px) {
  .new-entry-feedback {
    width: 80%;
  }
  
  .new-entry-feedback__button-row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 80%;
  }
  
  .new-entry-feedback__button {
    margin: .5em 0;
  }  
}

.new-entry-feedback {
  box-sizing: border-box;
  padding: .5rem;
  border-radius: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px .6em .6em white;
}


.new-entry-feedback__button-row {
  margin-top: 1rem;    
  display: flex;
}

.new-entry-feedback__paragraph {
  font-size: 1.5rem;
  color: var(--color-3);
}

.new-entry-feedback__button {
  padding: .3em .8em;
  border-radius: 1em;
  font-size: 1rem;
}

.new-entry-feedback__entry-form-button {
  color: var(--color-2);
  border: solid 1px var(--color-2);
}

.new-entry-feedback__entry-form-button:hover {
  color: white;
  background-color: var(--color-2);
  box-shadow: 0 0 .2em .1em var(--color-2);

}

.new-entry-feedback__log-view-button {
  color: var(--color-1);
  border: solid 1px var(--color-1);
}

.new-entry-feedback__log-view-button:hover {
  color: white;
  background-color: var(--color-1);
  box-shadow: 0 0 .2em .1em var(--color-1);
}


/* ========================
===== UTILITY CLASSES =====
======================== */



/* =========================
===== NO LONGER NEEDED =====
========================= */

/*
.top-level-view {
  position: relative;
  z-index: 10;
  transition: all 500ms linear;
}
*/
