<div class="log-entry">
  <div class="log-entry__title-row">
    <span class="log-entry__title" tabIndex="0">{{title}}</span>
    <div class="log-entry__metadata">
      <span class="log-entry__subject">{{subject}}</span>
      <span class="log-entry__source">{{source}}</span>
    </div>
    
  </div>
  <div class="log-entry__other">
    <p class="log-entry__details">{{details}}</p>
  </div>
</div>