{{#each this}}
  <h2 class="date-block-heading">{{date}}</h2>
  {{#each entries}}
    {{> logEntry}}
  {{/each}}
{{/each}}
<div class="log-view-more__container">
  <button type="button" role="button" class="log-view-more__button">Load more entries...</button>
</div>
