<div id="nav">
  <div id="title">
    <span style="color: var(--color-1-dark)">My</span>
    <span style="color: var(--color-2-dark)">Learning</span>
    <span style="color: var(--color-3-dark)">Log</span>
  </div>
  
  <nav id="nav-buttons" class="nav__button-group">
    {{#each navTargets}}
      <button class="{{../buttonClass}}" id="{{targetId}}-button" type="button" role="button" data-nav-target="{{targetId}}">{{buttonText}}</button>
    {{/each}}
  </nav>
  
  <!-- 
    <button class="nav__button" id="log-view-button" type="button" role="button" data-nav-target="log-view">View Log</button>
    <button class="nav__button" id="entry-form-button" type="button" role="button" data-nav-target="entry-form">Add Items</button>
    <button class="nav__button" id="settings-button" type="button" role="button" data-nav-target="settings">Settings</button>
  -->
</div>
