<div id="new-entry-feedback" class="new-entry-feedback overlay-content">
  <p class="new-entry-feedback__paragraph overlay-content__paragraph">The new entry was added to your learning log!</p>
  <div class="new-entry-feedback__button-row">
    <button type="button" role="button" class="new-entry-feedback__button new-entry-feedback__log-view-button" data-nav-target="log-view">View new entry in log</button>
    <button type="button" role="button" class="new-entry-feedback__button new-entry-feedback__entry-form-button" data-nav-target="entry-form">Add another entry</button>
  </div>
</div>