{{!-- 
{{#each subjects}}
  <button data-target="{{this}}" class="sub-button">{{this}}</button>
{{/each}}
<div id="sub-button-nav-button-container">
  <!-- replace these buttons with proper svg icons at some point -->
  <button type="button" role="button" id="previous-row-button" class="sub-button-nav" data-nav-direction="backward" >^</button>
  <button type="button" role="button" id="next-row-button" class="sub-button-nav" data-nav-direction="forward">v</button>
</div>
--}}